* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);width: 1px;
    height: 1px;
    margin: -1px; padding: 0; border: 0;
}

.transparent-title {
    font-family: Montserrat, sans-serif;
    font-size: 127px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    margin: 0;

    opacity: .03;
}

.x-decorated {
    position: relative;
}

.x-decorated::after {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 13px;
    height: 13px;

    content: '';
    content: '';
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    background-image: url('./img/sprite.png');
    background-position: 0 -79px;
}

ul,
li {
    margin: 0;
    padding: 0;

    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    font-size: 14px;
    line-height: 44px;
    text-decoration: none;
    text-transform: uppercase;

    padding: 0 29px;
    cursor: pointer;

    color: white;
    border: none;
    outline: none;
    background: #00b0ff;
}

header {
    font-family: 'Montserrat', sans-serif;

    min-height: 700px;
    padding-top: 30px;

    background-color: #5898af;
    background-image: url('./img/hero.jpg');
}

header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

header a {
    text-decoration: none;

    color: #000;
}

.header-title,
.header-subtitle {
    font-family: 'Playfair Display', serif;

    width: 100%;

    text-align: center;
}

.header-title {
    font-size: 50px;

    margin-top: 100px;
    margin-bottom: 5px;
}

.header-subtitle {
    font-size: 24px;

    color: #fff;
}

.header-button {
    display: inline-block;

    text-transform: uppercase;
}

.navigation-menu {
    display: inline-block;

    width: 570px;
}

.navigation-menu__item,
.socials-menu__item {
    display: inline-block;
}

.navigation-menu__button {
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;

    display: block;

    padding-right: 10px;
    padding-left: 10px;
}
.navigation-menu__button:hover {
    color: #fff;
    background-color: #00b0ff;
}

.socials-menu__button:hover {
    background-color: #00b0ff;
}

.socials-menu__button {
    display: block;

    width: 36px;
    height: 36px;

    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #000;
    background-image: url('./img/sprite.png');
    background-repeat: no-repeat;
}

.socials-menu__button--fb {
    background-position: 14px 10px;
}
.socials-menu__button--insta {
    background-position: -32px 10px;
}
.socials-menu__button--email {
    background-position: -78px 10px;
}

.boards {
    font-family: Montserrat;

    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 1030px;
    margin: -230px auto 180px;
    padding: 50px;
    padding-top: 20px;

    background: white -webkit-linear-gradient(315deg, #00d2ff 0, #00d2ff 35%, white 35%, white 100%);
    background: white -o-linear-gradient(315deg, #00d2ff 0, #00d2ff 35%, white 35%, white 100%);
    background: white linear-gradient(135deg, #00d2ff 0, #00d2ff 35%, white 35%, white 100%);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,40%);
            box-shadow: 0 0 20px rgba(0,0,0,40%);
}

.boards * {
    z-index: 1;
}

.boards__transparent-title {
    position: absolute;
    z-index: 0;
    top: 38%;
    right: -26%;

    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    letter-spacing: 7px;
}

.boards__images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-right: 45px;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.boards__tumbnail--selected img {
    border: 3px solid #00b0ff;
}

.boards__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
}

.boards__paginators {
    position: absolute;
    top: 49px;
    right: -37px;

    text-align: right;
}

.boards__paginator {
    font-weight: bold;
    line-height: 37px;

    display: inline-block;

    width: 37px;
    height: 37px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: white;
    border: none;
    background: #f2d800 url('./img/sprite.png') no-repeat;
}

.boards__paginator--left {
    background-position: -15px -45px;
}

.boards__paginator--right {
    background-position: -55px -45px;
}

.boards__page-number {
    line-height: 38px;

    margin: 0;
    margin-right: 37px;
    padding: 0 10px;

    color: white;
    background: black;
}

.boards__stars {
    font-size: 12px;
    font-weight: bold;

    color: #787878;
}

.boards__star,
.boards__star--empty {
    display: inline-block;

    width: 13px;
    height: 13px;

    background-image: url('./img/sprite.png');
    background-repeat: no-repeat;
    background-position: -12px -30px;
}

.boards__star--empty {
    background-position: -80px -30px;
}

.boards__tabs {
    margin-top: 40px;

    border-bottom: 1px solid #d9d9d9;
}

.boards__tab,
.boards__tab-content {
    font-family: 'Raleway', sans-serif;
}

.boards__tab {
    font-size: 14px;
    font-weight: bold;

    display: inline-block;

    margin-right: 26px;

    text-decoration: none;
    text-transform: uppercase;

    color: #a0a0a0;
}

.boards__tab--selected {
    color: #000;
    border-bottom: 3px solid #00b0ff;
}

.boards__tab-content {
    font-size: 16px;
    line-height: 24px;

    color: #787878;
}

.boards__price {
    font-weight: bold;

    display: inline-block;

    margin-right: 29px;
}

.boards__buy {
    display: inline-block;
}

.about-us {
    position: relative;

    padding-bottom: 181px;

    background-image: url('./img/overlay.jpg');
    background-repeat: no-repeat;
    background-position: center 118px;
    background-size: contain;
}

.about-us__container {
    min-height: 642px;
}

.about-us__title {
    margin-bottom: 296px;
}

.about-us__texts-container {
    font-family: Montserrat, sans-serif;

    width: 945px;
    padding-top: 90px;
    padding-right: 70px;

    background: white;
}

.about-us__texts {
    width: 400px;
    margin: 0;
    margin-left: auto;
}

.about-us__subtitle {
    font-size: 18px;

    position: relative;

    padding-bottom: 33px;

    text-align: center;
    text-transform: uppercase;
}

.about-us__text {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-style: italic;
    line-height: 38px;

    margin-top: 30px;
    margin-bottom: 30px;
}

.about-us__read-more {
    font-size: 16px;
    font-weight: bold;

    text-decoration: none;

    color: #00b0ff;
    border-bottom: 2px solid #00b0ff;
}

.about-us__video-container {
    position: absolute;
    right: 405px;
    bottom: 181px;

    transition: .7s all;

    box-shadow: 30px 40px 50px rgba(0,0,0,.2);
}

.about-us__video-container:hover {
    box-shadow: 10px 10px 70px rgba(0,0,0,.1);
}

.about-us__video {
    width: 500px;
    height: 300px;

    cursor: pointer;

    background-image: url('./img/about-us-video.png');
    background-repeat: no-repeat;
    background-position: center;
}


.about-us__play-button-container {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 140px;
    height: 140px;

    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.play-btn__circle {
    stroke: white;
}

.play-btn__play-icon {
    fill: white;
}

.play-btn__circle--inner {
    stroke-width: 3;
}

.about-us__video:hover .play-btn__play-icon {
    fill: #00b0ff;
}

.about-us__video:hover .play-btn__circle {
    stroke: #00b0ff;
}

.our-team__title {
    font-size: 190px;
    font-weight: normal;

    letter-spacing: 14px;
}

.our-team__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-top: -70px;
    padding-bottom: 180px;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.our-team__paginator {
    z-index: 1;

    display: inline-block;

    width: 50px;
    height: 50px;

    vertical-align: middle;

    border: 1px solid #e6e6e6;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: white url('./img/sprite.png') no-repeat;
    -webkit-box-shadow: 0 0 16px rgba(0,0,0, .16);
            box-shadow: 0 0 16px rgba(0,0,0, .16);

    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
}

.our-team__paginator--left {
    margin-right: 32px;

    background-position: -28px -82px;
}

.our-team__paginator--right {
    margin-left: 32px;

    background-position: -74px -82px;
}

.our-team__card {
    z-index: 1;

    display: inline-block;

    width: 260px;
    height: 280px;
    padding: 30px;
    padding-bottom: 40px;

    text-align: center;

    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: white;
    -webkit-box-shadow: 20px 20px 50px rgba(0,0,0,.2);
            box-shadow: 20px 20px 50px rgba(0,0,0,.2);
}

.our-team__card:nth-of-type(2n) {
    margin-top: 30px;
    margin-right: -20px;
    margin-left: -20px;
}

.our-team__card:last-of-type {
    margin-right: 0;
}

.our-team__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

    color: #00b0ff;
}

.our-team__link,
.our-team__location {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

    display: block;

    text-decoration: none;

    color: #8c8c8c;
}

.our-team__location {
    position: relative;

    padding-top: 20px;
}

.our-team__location::before,
.our-team__location::after {
    content: '';
    -webkit-transition: .5s all;
         -o-transition: .5s all;
            transition: .5s all;

    background-image: url('./img/sprite.png');
}

.our-team__location::before {
    display: inline-block;

    width: 11px;
    height: 14px;
    margin-right: 5px;

    background-position: 0 -119px;
}

.our-team__location::after {
    position: absolute;
    top: 10px;
    left: 50%;

    width: 31px;
    height: 6px;
    margin-left: -15px;

    background-position: -14px -131px;
}

.our-team__card:hover {
    background: #00b0ff;
}

.our-team__card:hover img {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-top: -2px;
    margin-bottom: -2px;

    border: 2px solid white;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.our-team__card:hover .our-team__name {
    color: white;
}

.our-team__card:hover .our-team__link,
.our-team__card:hover .our-team__location {
    color: #b3e7ff;
}

.our-team__card:hover .our-team__location::after {
    background-position: -14px -137px;
}

.our-team__card:hover .our-team__location::before {
    background-position: 0 -133px;
}

.latest-updates {
    font-family: 'Montserrat', sans-serif;
}

.latest-updates .container {
    padding-bottom: 168px;

    text-align: center;
}

.latest-updates__title {
    font-size: 18px;

    position: relative;

    padding-bottom: 30px;

    text-transform: uppercase;
}


.latest-updates__item {
    display: inline-block;

    width: 270px;
    min-height: 345px;
    margin: 30px 13px;

    vertical-align: top;
}

.latest-updates__item:hover {
    -webkit-box-shadow: 0 2px 30px rgba(0,0,0,.20);
            box-shadow: 0 2px 30px rgba(0,0,0,.20);
}

.latest-updates__item-link:hover {
    color: #02f;
}

.latest-updates__item-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 24px;

    padding: 20px;

    text-align: left;
}

.latest-updates__item-link {
    display: block;

    text-decoration: none;

    color: #787878;
}

.latest-updates__more {
    margin: 0;
    margin-top: 40px;

    text-align: center;
}

.socials .container {
    padding-top: 130px;
}

.socials__instagram {
    position: relative;

    display: inline-block;

    width: 620px;
    margin-top: -130px;
    margin-right: 50px;
    margin-bottom: -225px;

    vertical-align: top;
}

.socials__transparent-title {
    font-size: 90px;
    line-height: 90px;

    margin-bottom: -13px;
    margin-left: -6px;

    letter-spacing: 8px;
}

.instagram-block {
    width: 620px;
}

.instagram-block__image {
    display: inline-block;

    margin-right: -4px;

    vertical-align: top;
}

.instagram-block__footer {
    line-height: 70px;

    padding-left: 20px;

    background: white;
}

.instagram-block__footer-link {
    display: inline-block;

    padding: 0 10px;

    vertical-align: middle;
    text-decoration: none;

    color: #000;
}

.instagram-block__footer-link--follow {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;

    position: relative;

    padding-left: 50px;

    text-transform: uppercase;

    color: #00b0ff;
}

.instagram-block__footer-link--follow::before {
    line-height: 30px;

    position: absolute;
    top: 50%;
    left: 0;

    display: inline-block;

    width: 29px;
    height: 30px;
    margin-top: -15px;

    content: '';
    vertical-align: middle;

    background: url('./img/sprite.png') no-repeat 0 -150px;
}

.instagram-block__footer-link--name {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.socials__facebook {
    display: inline-block;

    width: 440px;
    min-height: 350px;
    padding: 32px 50px 40px;

    text-align: center;
    vertical-align: top;

    background: #385490 -webkit-gradient(linear, left top, left bottom, color-stop(50%, #385490), color-stop(50%, #e5e5e5));
    background: #385490 -webkit-linear-gradient(#385490 50%, #e5e5e5 50%);
    background: #385490 -o-linear-gradient(#385490 50%, #e5e5e5 50%);
    background: #385490 linear-gradient(#385490 50%, #e5e5e5 50%);
}

.facebook-container {
    font-family: Helvetica, sans-serif;
    font-size: 12px;

    width: 340px;
    margin-top: 30px;
    padding-bottom: 8px;

    text-align: left;

    background: #f6f7f9;
}

.facebook-container__header {
    position: relative;

    min-height: 130px;
    padding: 8px;
    padding-bottom: 32px;

    background: #005f82 url('./img/facebook/cover.png');
}

.facebook-container__company-info {
    position: relative;

    padding-left: 65px;

    color: white;
}

.facebook-container__company-logo {
    position: absolute;
    top: 0;
    left: 0;

    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.38);
            box-shadow: 0 0 8px rgba(0,0,0,.38);
}

.facebook-container__company-name,
.facebook-container__company-stats {
    margin: 0;
}

.facebook-container__company-name {
    font-size: 18px;
    line-height: 24px;
}

.facebook-container__company-name a {
    color: white;
}

.facebook-container__button {
    line-height: 22px;

    position: absolute;
    bottom: 8px;

    display: inline-block;

    padding: 0 8px 0 24px;

    text-decoration: none;

    color: #4b4f56;
    background: #f6f7f9;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.45);
            box-shadow: 0 0 1px rgba(0,0,0,.45);
}

.facebook-container__button::before {
    position: absolute;
    top: 5px;
    left: 8px;

    width: 12px;
    height: 12px;

    content: '';

    background: url('./img/sprite.png') no-repeat -33px -150px;
}

.facebook-container__button--like {
    left: 8px;
}

.facebook-container__button--share {
    right: 8px;
}

.facebook-container__button--share::before {
    background-position: -48px -150px;
}

.facebook-container__bottom {
    margin: 7px;
    margin-bottom: 0;
    padding: 8px;
    padding-top: 4px;

    -webkit-border-radius: 2px;
            border-radius: 2px;
    background: white;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.13);
            box-shadow: 0 1px 4px rgba(0,0,0,.13);
}

.facebook-container__bottom-text {
    line-height: 23px;

    margin: 0;

    color: #4b4f56;
}

.facebook-container__user {
    display: inline-block;

    margin-right: -1px;
}

.facebook-container__user-link {
    display: block;
}

.footer {
    height: 220px;

    background: #000;
}
