* {
    -webkit-box-sizing: border-box;            box-sizing: border-box;
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);width: 1px;
    height: 1px;
    margin: -1px; padding: 0; border: 0;
}

.transparent-title {
  font-family: Montserrat, sans-serif;
  font-size: 127px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  margin: 0;

  opacity: .03;
}

ul,
li {
    margin: 0;
    padding: 0;

    list-style: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    font-family: 'Montserrat', sans-serif;

    min-height: 700px;
    padding-top: 30px;

    background-color: #5898af;
    background-image: url('./img/hero.jpg');
}

header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

header a {
    text-decoration: none;

    color: #000;
}

.header-title,
.header-subtitle {
    font-family: 'Playfair Display', serif;

    width: 100%;

    text-align: center;
}

.header-title {
    font-size: 50px;

    margin-top: 100px;
    margin-bottom: 5px;
}

.header-subtitle {
    font-size: 24px;

    color: #fff;
}

.header-button {
    display: inline-block;

    text-transform: uppercase;
}

.navigation-menu {
    display: inline-block;

    width: 570px;
}

.navigation-menu__item,
.socials-menu__item {
    display: inline-block;
}

.navigation-menu__button {
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;

    display: block;

    padding-right: 10px;
    padding-left: 10px;
}
.navigation-menu__button:hover {
    color: #fff;
    background-color: #00b0ff;
}

.socials-menu__button:hover {
    background-color: #00b0ff;
}

.socials-menu__button {
    display: block;

    width: 36px;
    height: 36px;

    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #000;
    background-image: url('./img/sprite.png');
    background-repeat: no-repeat;
}

.socials-menu__button--fb {
    background-position: 14px 10px;
}
.socials-menu__button--insta {
    background-position: -32px 10px;
}
.socials-menu__button--email {
    background-position: -78px 10px;
}

.boards {
    font-family: Montserrat;

    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 1030px;
    margin: -230px auto 180px;
    padding: 50px;
    padding-top: 20px;

    background: white -webkit-linear-gradient(315deg, #00d2ff 0, #00d2ff 35%, white 35%, white 100%);
    background: white -o-linear-gradient(315deg, #00d2ff 0, #00d2ff 35%, white 35%, white 100%);
    background: white linear-gradient(135deg, #00d2ff 0, #00d2ff 35%, white 35%, white 100%);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,40%);
            box-shadow: 0 0 20px rgba(0,0,0,40%);
}

.boards * {
    z-index: 1;
}

.boards__transparent-title {
    position: absolute;
    z-index: 0;
    top: 20%;
    right: -26%;

    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    letter-spacing: 7px;
}

.boards__images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-right: 45px;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.boards__tumbnail--selected img {
    border: 3px solid #00b0ff;
}

.boards__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
}

.boards__paginators {
    position: absolute;
    top: 49px;
    right: -37px;

    text-align: right;
}

.boards__paginator {
    font-weight: bold;
    line-height: 37px;

    display: inline-block;

    width: 37px;
    height: 37px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: white;
    border: none;
    background: #f2d800 url('./img/sprite.png') no-repeat;
}

.boards__paginator--left {
    background-position: -15px -45px;
}

.boards__paginator--right {
    background-position: -55px -45px;
}

.boards__page-number {
    line-height: 38px;

    margin: 0;
    margin-right: 37px;
    padding: 0 10px;

    color: white;
    background: black;
}

.boards__stars {
    font-size: 12px;
    font-weight: bold;

    color: #787878;
}

.boards__star,
.boards__star--empty {
    display: inline-block;

    width: 13px;
    height: 13px;

    background-image: url('./img/sprite.png');
    background-repeat: no-repeat;
    background-position: -12px -30px;
}

.boards__star--empty {
    background-position: -80px -30px;
}

.boards__tabs {
    margin-top: 40px;

    border-bottom: 1px solid #d9d9d9;
}

.boards__tab,
.boards__tab-content {
    font-family: Raleway;
}

.boards__tab {
    font-size: 14px;
    font-weight: bold;

    display: inline-block;

    margin-right: 26px;

    text-decoration: none;
    text-transform: uppercase;

    color: #a0a0a0;
}

.boards__tab--selected {
    color: #000;
    border-bottom: 3px solid #00b0ff;
}

.boards__tab-content {
    font-size: 16px;
    line-height: 24px;

    color: #787878;
}

.boards__price {
    font-weight: bold;

    display: inline-block;

    margin-right: 29px;
}

.boards__buy {
    line-height: 44px;

    display: inline-block;

    padding: 0 29px;

    cursor: pointer;

    color: white;
    border: none;
    outline: none;
    background: #00b0ff;
}

.about-us {
    position: relative;

    padding-bottom: 181px;

    background-image: url('./img/overlay.jpg');
    background-repeat: no-repeat;
    background-position: center 118px;
    background-size: contain;
}

.about-us__container {
    min-height: 642px;
}

.about-us__title {
    margin-bottom: 296px;
}

.about-us__texts-container {
    font-family: Montserrat, sans-serif;

    width: 945px;
    padding-top: 90px;
    padding-right: 70px;

    background: white;
}

.about-us__texts {
    width: 400px;
    margin: 0;
    margin-left: auto;
}

.about-us__subtitle {
    font-size: 18px;

    position: relative;

    padding-bottom: 33px;

    text-align: center;
    text-transform: uppercase;
}

.about-us__subtitle:after {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 13px;
    height: 13px;

    content: '';
    transform: translateX(-50%);

    background-image: url('./img/sprite.png');
    background-position: 0 -79px;
}

.about-us__text {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-style: italic;
    line-height: 38px;

    margin-top: 30px;
    margin-bottom: 30px;
}

.about-us__read-more {
    font-size: 16px;
    font-weight: bold;

    text-decoration: none;

    color: #00b0ff;
    border-bottom: 2px solid #00b0ff;
}

.about-us__video-container {
    position: absolute;
    right: 405px;
    bottom: 181px;

    transition: .7s all;

    box-shadow: 30px 40px 50px rgba(0,0,0,.2);
}

.about-us__video-container:hover {
    box-shadow: 10px 10px 70px rgba(0,0,0,.1);
}

.about-us__video {
    width: 500px;
    height: 300px;

    cursor: pointer;

    background-image: url('./img/about-us-play-video-icon.png'), url('./img/about-us-video.png');
    background-repeat: no-repeat;
    background-position: center;
}

@font-face {
    font-family: 'Playfair Display', serif;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Raleway', sans-serif;
}
